*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("@/assets/cursor.png") , auto;
}

.layout {
    scroll-behavior: smooth;
}

.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 120px 0 auto;
    padding: 0 10%;
    position: relative;
    z-index:2023;
}